# Web Framework & Server
fastapi
uvicorn[standard]

# Data Validation & Settings
pydantic
pydantic-settings

# HTTP Client
httpx

# Query Expansion Agent
openai

# NLP & Utilities
nltk
python-multipart

# Gemini
google-generativeai

# API Key Management
python-dotenv